<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="新增">
        我的餐廳清單
      </a>
    </div>
  </nav>

  <div class="banner"></div>
</header>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <form method="POST" action="/restaurants/new/create">
        <div class="form-group mt-3">
          <label>店名</label>
          <input type="text" class="form-control" name="name" placeholder="店名..">
        </div>
        <div class="form-group">
          <label>英文店名</label>
          <input type="text" class="form-control" name="name_en" placeholder="name..">
        </div>
        <div class="form-group">
          <label>類別</label>
          <input type="text" class="form-control" name="category" placeholder="ex:日本料理..">
        </div>
        <div class="form-group">
          <label>照片連結</label>
          <input type="url" class="form-control" name="image" placeholder="ex:https://abc.ed/fg.jpg">
        </div>
        <div class="form-group">
          <label>地址</label>
          <input type="text" class="form-control" name="location" placeholder="ex:台北市中正區信義路ㄧ段2號">
        </div>
        <div class="form-group">
          <label>電話</label>
          <input type="tel" class="form-control" name="phone" placeholder="12 3456 7890">
        </div>
        <div class="form-group">
          <label>Google Map連結</label>
          <input type="url" class="form-control" name="google_map" placeholder="https://goo.gl/maps/xxxxxxxxxxx">
        </div>
        <div class="form-group">
          <label>評價</label>
          <input type="number" class="form-control" name="rating" min="1" max="5" step="0.1" placeholder="1~5">
        </div>
        <div class="form-group">
          <label>描述</label>
          <textarea type="text" class="form-control" name="description" placeholder="" rows="3">
          </textarea>
          <button type="submit" class="btn btn-primary mt-3">建立</button>
      </form>

    </div>
  </div>
</div>